@import "../../../styles/variables.scss";

.articles {
  background-color: $very-light-gray;
  .content {
    padding: 150px 0px;
    .title {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 50px;
      color: $dark-blue;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 2fr);
      }
      gap: 30px;
      .card {
        background-color: $white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .imageWrapper {
          width: 100%;
          height: 230px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .cardContent {
          padding: 30px;
          .author {
            font-size: 1rem;
            color: $grayish-blue;
            margin-bottom: 8px;
          }
          .cardTitle {
            font-size: 1.25rem;
            color: $dark-blue;
            margin-bottom: 15px;
            line-height: normal;
            cursor: pointer;
            &:hover {
              color: $lime-green;
            }
          }
          .description {
            font-size: 1rem;
            color: $grayish-blue;
          }
        }
      }
    }
  }
}
