@import "../../../styles/variables.scss";

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        @media (max-width: 768px) {
            padding: 25px;
        }
        position: relative;
        .logo {
            display: flex;
            align-items: center;
        }
        .hamburger {
            display: none;
            @media (max-width: 768px) {
                display: flex;
            }
            cursor: pointer;
            flex-direction: column;
            justify-content: space-between;
        }
        .nav {
            display: flex;
            flex: 1;
            justify-content: center;
            @media (max-width: 768px) {
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: $white;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                z-index: 10;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease-out;
            }
            &.navOpen {
                @media (max-width: 768px) {
                    max-height: 500px;
                }
            }
            .menu {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                @media (max-width: 768px) {
                    flex-direction: column;
                    width: 100%;
                }
                .menuItem {
                    margin: 0 15px;
                    @media (max-width: 768px) {
                        margin: 10px 0;
                        width: 100%;
                        text-align: center;
                    }
                    a {
                        font-size: 1rem;
                        text-decoration: none;
                        color: $grayish-blue;
                        font-weight: 500;
                        border-bottom: solid 5px transparent;
                        transition: color 0.3s ease, border-color 0.3s ease;
                        padding: 30px 0;
                        @media (max-width: 768px) {
                            padding: 5px 0;
                        }
                        display: block;
                        &:hover {
                            color: $dark-blue;
                            border-color: $lime-green;
                        }
                    }
                }
            }
        }
        .cta {
            @media (max-width: 768px) {
                display: none;
            }
            .inviteButton {
                font-size: 1rem;
                background: linear-gradient(to left, $bright-cyan, $lime-green);
                color: $white;
                border: none;
                padding: 10px 30px;
                border-radius: 30px;
                font-weight: 500;
                transition: background 0.3s ease;
                &:hover {
                    background: linear-gradient(
                        to left,
                        $light-bright-cyan,
                        $light-lime-green
                    );
                }
            }
        }
    }
    .overlay {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: 9;
    }
    .overlayActive {
        opacity: 1;
        pointer-events: all;
    }
}
