$size: 1.125rem;

@mixin font {
  font-size: $size;
  line-height: normal;
}

$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%);
$dark-blue:hsl(233, 26%, 24%);
$lime-green:hsl(136, 65%, 51%);
$bright-cyan:hsl(192, 70%, 51%);
$grayish-blue:hsl(233, 8%, 62%);
$light-grayish-blue:hsl(220, 16%, 96%);
$very-light-gray:hsl(0, 0%, 98%);