@import "../../../styles/variables.scss";

.footer {
    background-color: $dark-blue;
    color: $white;
    padding: 50px 0;
    @media (max-width: 768px) {
        padding: 45px 25px;
    }
    .footerContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
        .logoAndSocial {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            @media (max-width: 768px) {
                align-items: center;
                gap: 10px;
            }
            .socialIcons {
                margin-top: 20px;
                display: flex;
                gap: 15px;
            }
        }
        .footerLinks {
            display: flex;
            gap: 80px;
            @media only screen and (min-width: 769px) and (max-width: 1024px) {
                gap: 30px;
              }
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 20px;
                text-align: center;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 12px;
                list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: $white;
                        font-weight: 400;
                        &:hover {
                            color: $lime-green;
                        }
                        @media (max-width: 768px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .cta {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            @media (max-width: 768px) {
                align-items: center;
                gap: 25px;
            }
            .inviteButton {
                font-size: 1.2rem;
                background: linear-gradient(to left, $bright-cyan, $lime-green);
                color: $white;
                border: none;
                padding: 10px 30px;
                border-radius: 30px;
                font-weight: 500;
                transition: background 0.3s ease;
                @media (max-width: 768px) {
                    font-size: 1rem;
                }
                &:hover {
                    background: linear-gradient(
                        to left,
                        $light-bright-cyan,
                        $light-lime-green
                    );
                }
            }
            .copyright {
                color: $grayish-blue;
                font-size: 1rem;
                @media (max-width: 768px) {
                    font-size: 0.85rem;
                }
            }
        }
    }
}