@import "../../../styles/variables.scss";

.features {
  background-color: $very-light-gray;
  .content {
    padding: 150px 0px;
    .title {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 30px;
      color: $dark-blue;
    }
    .description {
      font-size: 1.2rem;
      margin-bottom: 3rem;
      color: $grayish-blue;
      margin-left: auto;
      margin-right: auto;
    }
    .featureList {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 2fr);
      }
      gap: 2rem;
      .feature {
        border-radius: 8px;
        .imageWrapper {
          margin-bottom: 1.5rem;
        }
        .featureTitle {
          font-size: 1.25rem;
          margin-bottom: 1rem;
          color: $dark-blue;
        }
        .featureDescription {
          font-size: 0.875rem;
          color: $grayish-blue;
        }
      }
    }
  }
}
