@import "../../../styles/variables.scss";

.features {
    text-align: center;
    padding: 4rem 0;
    background-color: $very-light-gray;
    .title {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $dark-blue;
    }
    .description {
      font-size: 1rem;
      margin-bottom: 3rem;
      color: $grayish-blue;
      margin-left: auto;
      margin-right: auto;
    }
    .featureList {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      .feature {
        padding: 2rem;
        border-radius: 8px;
        .imageWrapper {
          margin-bottom: 1.5rem;
        }
        .featureTitle {
          font-size: 1.25rem;
          margin-bottom: 1rem;
          color: $dark-blue;
        }
        .featureDescription {
          font-size: 0.875rem;
          color: $grayish-blue;
        }
      }
    }
  }